@import "./reset.css";

:root {
  --white: #ffffff;
  --light-purple: #b49fcc;
  --dark-purple: #412234;
  --purple: #6d466b;
  --cream: #ead7d7;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  flex-basis: 25%;
  background-color: var(--cream);
  max-width: 300px;
  padding: 20px;
}

.add-new {
  background-color: #b49fcc;
  border: none;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  font-size: 3.5em;
  color: black;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.add-new:active,
.add-todo:active,
.add-project:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25) inset;
}

main {
  position: relative;
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.title {
  font-size: 3em;
  text-decoration: underline var(--dark-purple);
}

button:hover {
  filter: brightness(75%);
}

.add-todo {
  position: fixed;
  bottom: 50px;
  right: 120px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.add-project {
  position: fixed;
  bottom: 120px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  right: 20px;
}
.add-todo,
.add-project {
  background-color: var(--light-purple);
  border: none;
  border-radius: 5px;
  padding: 8px;
  display: none;
}

dialog {
  margin: auto;
  padding: 30px;
}

dialog div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

dialog div:last-child {
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 0;
}

dialog button {
  border: none;
  background-color: var(--light-purple);
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
}

#project-create input[type="color"] {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  padding: 0;
}

dialog input {
  margin-top: 5px;
}

.projects li span:first-child {
  font-variation-settings: "FILL" 1;
  margin-right: 10px;
}

.projects li span:nth-child(2) {
  font-size: 24px;
  flex-basis: 100%;
}

.projects li {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.projects li:hover .material-symbols-outlined {
  visibility: visible;
}

.projects:hover {
  cursor: pointer;
}

.projects .material-symbols-outlined:hover {
  color: red;
}

.projects li span:last-child {
  visibility: hidden;
}

ul {
  padding: 0;
}

.projects li:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.sidebar {
  overflow: auto;
}

dialog input[type="range"] {
  accent-color: var(--light-purple);
}

dialog textarea {
  resize: none;
  height: 100px;
}

.todos div {
  display: grid;
  grid-template: 1fr 1fr / 0.25fr 1fr 2fr;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}

.todos input {
  grid-column: 1;
  grid-row: span 2;
  width: 20px;
  height: 20px;
}

.todos .name {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.25em;
}

.todos .due-date {
  grid-column: 2;
  grid-row: 2;
}

.todos .desc {
  grid-column: 3;
  grid-row: span 2;
}

.todos div:hover {
  cursor: pointer;
}

.todos div:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25) inset;
}

.priority-0 {
  background-color: lightgray;
}

.priority-0:hover {
  background-color: gray;
}

.priority-1 {
  background-color: palegoldenrod;
}

.priority-1:hover {
  background-color: goldenrod;
}

.priority-2 {
  background-color: orange;
}

.priority-2:hover {
  background-color: peru;
}

.priority-3 {
  background-color: indianred;
}

.priority-3:hover {
  background-color: crimson;
}
